annotated-types==0.7.0
Brotli==1.1.0
inflate64==1.0.3
markdown-it-py==4.0.0
mdurl==0.1.2
multivolumefile==0.2.3
psutil==7.0.0
py7zr==1.0.0
pybcj==1.0.6
pycryptodomex==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
pyppmd==1.2.0
PyYAML==6.0.2
pyzstd==0.17.0
rich==14.1.0
texttable==1.7.0
typing-inspection==0.4.1
typing_extensions==4.15.0
